<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>{{driver.firstName | firstNamePipe}} </mat-label>
    <input matInput placeholder="First Name" [(ngModel)]="driver.firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{driver.lastName | uppercase}}</mat-label>
    <input matInput placeholder="Last Name" [(ngModel)]="driver.lastName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Vehicle</mat-label>
    <mat-select>
      <mat-option *ngFor="let vehicle of vehicules" [value]="vehicle.id">
        {{vehicle.brand}}: {{vehicle.matricule}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <input placeholder="Photo" type="file">

  <div class="button-row">
    <button mat-flat-button color="primary" (click)="saveDriver()">Save</button>
  </div>

</form>